
CMakeLists.txt.user
db/xxx.ddb
db/urls.csv
db/xxx.sql
.gitignore~
..gitignore.un~
QtProjectsxxxapp-Debugdbxxx.db
InstallationLog.txt
db/diagrama.mwb
db/publicuser.txt
db/xxxdb.db
db/xdatabase.db
img/*
*.autosave
.gitignore.swp
tools/*
CMakeLists.txt.user.c4fca1e
build/
lib/
include/